ExternalBanking/Service References/PensionSystemRef/PensionSystemService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62680/PensionSystemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PensionSystem" />
  <xs:import schemaLocation="http://localhost:62680/PensionSystemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValueTupleOfdecimalResultUU8nXIbL">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="decimal" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="Result" Namespace="http://schemas.datacontract.org/2004/07/PensionSystem" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PensionSystem" name="Item2" nillable="true" type="q1:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfdecimalResultUU8nXIbL" nillable="true" type="tns:ValueTupleOfdecimalResultUU8nXIbL" />
</xs:schema>