ExternalBankingRESTService/Service References/XBS/XBService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ExternalBankingService/XBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACBALibrary" />
  <xs:complexType name="TupleOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="xs:string" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfstringstring" nillable="true" type="tns:TupleOfstringstring" />
  <xs:complexType name="TupleOfintArrayOfRACitizenDTpyQ4eh">
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACBALibrary" name="m_Item2" nillable="true" type="q1:ArrayOfRACitizen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfRACitizenDTpyQ4eh" nillable="true" type="tns:TupleOfintArrayOfRACitizenDTpyQ4eh" />
  <xs:complexType name="Version">
    <xs:sequence>
      <xs:element name="_Build" type="xs:int" />
      <xs:element name="_Major" type="xs:int" />
      <xs:element name="_Minor" type="xs:int" />
      <xs:element name="_Revision" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Version" nillable="true" type="tns:Version" />
  <xs:complexType name="TupleOfshortshort">
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:short" />
      <xs:element name="m_Item2" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfshortshort" nillable="true" type="tns:TupleOfshortshort" />
  <xs:complexType name="TupleOfbooleanstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:boolean" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfbooleanstring" nillable="true" type="tns:TupleOfbooleanstring" />
</xs:schema>