ExternalBanking/Service References/UtilityPaymentsServiceReference/UtilityOperationService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UtilityPayments.UcomFix" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UtilityPayments.UcomFix" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://upayservice-dev:81/UtilityOperationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UtilityPayments.Common" />
  <xs:complexType name="UcomFixAbonentCheckRequestResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UtilityPayments.Common" minOccurs="0" name="ActionResult" nillable="true" type="q1:ActionResult" />
      <xs:element minOccurs="0" name="UcomFixAbonentCheckOutput" nillable="true" type="tns:UcomFixAbonentCheckOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UcomFixAbonentCheckRequestResponse" nillable="true" type="tns:UcomFixAbonentCheckRequestResponse" />
  <xs:complexType name="UcomFixAbonentCheckOutput">
    <xs:sequence>
      <xs:element name="_x003C_Code_x003E_k__BackingField" type="xs:unsignedByte" />
      <xs:element name="_x003C_Extra_x003E_k__BackingField" nillable="true" type="tns:UcomFixAbonentCheckOutput.ExtraElement" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UcomFixAbonentCheckOutput" nillable="true" type="tns:UcomFixAbonentCheckOutput" />
  <xs:complexType name="UcomFixAbonentCheckOutput.ExtraElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" nillable="true" type="tns:UcomFixAbonentCheckOutput.ExtraElement.BalanceElement" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UcomFixAbonentCheckOutput.ExtraElement" nillable="true" type="tns:UcomFixAbonentCheckOutput.ExtraElement" />
  <xs:complexType name="UcomFixAbonentCheckOutput.ExtraElement.BalanceElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Internet" type="xs:double" />
      <xs:element minOccurs="0" name="Other" type="xs:double" />
      <xs:element minOccurs="0" name="Phone" type="xs:double" />
      <xs:element minOccurs="0" name="TV" type="xs:double" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UcomFixAbonentCheckOutput.ExtraElement.BalanceElement" nillable="true" type="tns:UcomFixAbonentCheckOutput.ExtraElement.BalanceElement" />
  <xs:complexType name="UcomFixPaymentRequestResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UtilityPayments.Common" minOccurs="0" name="ActionResult" nillable="true" type="q2:ActionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UcomFixPaymentRequestResponse" nillable="true" type="tns:UcomFixPaymentRequestResponse" />
</xs:schema>