ExternalBanking/Service References/UtilityPaymentsServiceReference/UtilityOperationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UtilityPayments.Beeline" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UtilityPayments.Beeline" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://upayservice-dev:81/UtilityOperationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UtilityPayments.Common" />
  <xs:complexType name="BeelinePaymentRequestResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UtilityPayments.Common" minOccurs="0" name="ActionResult" nillable="true" type="q1:ActionResult" />
      <xs:element minOccurs="0" name="BeelinePaymentOutputs" nillable="true" type="tns:ArrayOfBeelinePaymentOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeelinePaymentRequestResponse" nillable="true" type="tns:BeelinePaymentRequestResponse" />
  <xs:complexType name="ArrayOfBeelinePaymentOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BeelinePaymentOutput" nillable="true" type="tns:BeelinePaymentOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeelinePaymentOutput" nillable="true" type="tns:ArrayOfBeelinePaymentOutput" />
  <xs:complexType name="BeelinePaymentOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeelinePaymentConfirmationRequestResponse" nillable="true" type="tns:BeelinePaymentConfirmationRequestResponse" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeelinePaymentOutput" nillable="true" type="tns:BeelinePaymentOutput" />
  <xs:complexType name="BeelinePaymentConfirmationRequestResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UtilityPayments.Common" minOccurs="0" name="ActionResult" nillable="true" type="q2:ActionResult" />
      <xs:element minOccurs="0" name="BeelinePaymentConfirmationOutput" nillable="true" type="tns:BeelinePaymentConfirmationOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeelinePaymentConfirmationRequestResponse" nillable="true" type="tns:BeelinePaymentConfirmationRequestResponse" />
  <xs:complexType name="BeelinePaymentConfirmationOutput">
    <xs:sequence>
      <xs:element name="_x003C_Receipt_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StatusCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TimeStamp_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeelinePaymentConfirmationOutput" nillable="true" type="tns:BeelinePaymentConfirmationOutput" />
  <xs:complexType name="BeelineAbonentCheckRequestResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UtilityPayments.Common" minOccurs="0" name="ActionResult" nillable="true" type="q3:ActionResult" />
      <xs:element minOccurs="0" name="BeelineAbonentCheckOutput" nillable="true" type="tns:BeelineAbonentCheckOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeelineAbonentCheckRequestResponse" nillable="true" type="tns:BeelineAbonentCheckRequestResponse" />
  <xs:complexType name="BeelineAbonentCheckOutput">
    <xs:sequence>
      <xs:element name="_x003C_Balance_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StatusCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TimeStamp_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeelineAbonentCheckOutput" nillable="true" type="tns:BeelineAbonentCheckOutput" />
</xs:schema>