ExternalBanking/Service References/UtilityPaymentsServiceReference/UtilityOperationService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UtilityPayments.UcomMobile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UtilityPayments.UcomMobile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UcomMobileSearchAccountData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbonentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prepaid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UcomMobileSearchAccountData" nillable="true" type="tns:UcomMobileSearchAccountData" />
</xs:schema>