ExternalBanking/Service References/ArcaDataServiceReference/ArcaDataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApiGateInfrastructure.CardLimitChangeOrder" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApiGateInfrastructure.CardLimitChangeOrder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58671/ArcaDataService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/ApiGateInfrastructure" />
  <xs:complexType name="CardLimit">
    <xs:sequence>
      <xs:element minOccurs="0" name="LimitArcaType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LimitValue" type="xs:unsignedLong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardLimit" nillable="true" type="tns:CardLimit" />
  <xs:complexType name="CardLimitChangeOrderData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocId" type="xs:long" />
      <xs:element minOccurs="0" name="ExpDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limits" nillable="true" type="tns:ArrayOfCardLimit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardLimitChangeOrderData" nillable="true" type="tns:CardLimitChangeOrderData" />
  <xs:complexType name="ArrayOfCardLimit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardLimit" nillable="true" type="tns:CardLimit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardLimit" nillable="true" type="tns:ArrayOfCardLimit" />
  <xs:complexType name="CardLimitChangeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCodeDescription" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApiGateInfrastructure" minOccurs="0" name="ResultCode" type="q1:TransactionProcessingResultType" />
      <xs:element minOccurs="0" name="ResultCodeDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardLimitChangeResponse" nillable="true" type="tns:CardLimitChangeResponse" />
</xs:schema>