Test/Service References/ServiceReference1/XBService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACBALibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACBALibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ExternalBankingService/XBService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountGroup" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdvancedOptions" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:short" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:short" />
      <xs:element minOccurs="0" name="GroupID" type="xs:short" />
      <xs:element minOccurs="0" name="IsAutorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsChiefAcc" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManager" type="xs:boolean" />
      <xs:element minOccurs="0" name="PositionID" type="xs:short" />
      <xs:element minOccurs="0" name="PositionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionLimit" type="xs:int" />
      <xs:element minOccurs="0" name="filialCode" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="number_of_item" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="transRight" type="xs:int" />
      <xs:element minOccurs="0" name="userCustomerNumber" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="userID" type="xs:short" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userPermissionId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="CustomerMainData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfCustomerAddress" />
      <xs:element minOccurs="0" name="CustomerDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerDescriptionEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerNumber" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="CustomerType" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emails" nillable="true" type="tns:ArrayOfCustomerEmail" />
      <xs:element minOccurs="0" name="IdentityId" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="LastUpdateAddInf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Phones" nillable="true" type="tns:ArrayOfCustomerPhone" />
      <xs:element minOccurs="0" name="RegisrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResidenceType" type="xs:int" />
      <xs:element minOccurs="0" name="SocialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebSites" nillable="true" type="tns:ArrayOfCustomerWebSite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerMainData" nillable="true" type="tns:CustomerMainData" />
  <xs:complexType name="ArrayOfCustomerAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerAddress" nillable="true" type="tns:CustomerAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerAddress" nillable="true" type="tns:ArrayOfCustomerAddress" />
  <xs:complexType name="CustomerAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="addressType" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="priority" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerAddress" nillable="true" type="tns:CustomerAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Appartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Building" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:StringKeyValue" />
      <xs:element minOccurs="0" name="House" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="tns:IntKeyValue" />
      <xs:element minOccurs="0" name="TownVillage" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="fullAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="KeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:short" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValue" nillable="true" type="tns:KeyValue" />
  <xs:complexType name="StringKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringKeyValue" nillable="true" type="tns:StringKeyValue" />
  <xs:complexType name="IntKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:int" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntKeyValue" nillable="true" type="tns:IntKeyValue" />
  <xs:complexType name="ArrayOfCustomerEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerEmail" nillable="true" type="tns:CustomerEmail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerEmail" nillable="true" type="tns:ArrayOfCustomerEmail" />
  <xs:complexType name="CustomerEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="tns:Email" />
      <xs:element minOccurs="0" name="emailType" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="priority" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="quality" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerEmail" nillable="true" type="tns:CustomerEmail" />
  <xs:complexType name="Email">
    <xs:sequence>
      <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Email" nillable="true" type="tns:Email" />
  <xs:complexType name="ArrayOfCustomerPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerPhone" nillable="true" type="tns:CustomerPhone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerPhone" nillable="true" type="tns:ArrayOfCustomerPhone" />
  <xs:complexType name="CustomerPhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="addInf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="tns:Phone" />
      <xs:element minOccurs="0" name="phoneType" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="priority" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerPhone" nillable="true" type="tns:CustomerPhone" />
  <xs:complexType name="Phone">
    <xs:sequence>
      <xs:element minOccurs="0" name="areaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phone" nillable="true" type="tns:Phone" />
  <xs:complexType name="ArrayOfCustomerWebSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerWebSite" nillable="true" type="tns:CustomerWebSite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerWebSite" nillable="true" type="tns:ArrayOfCustomerWebSite" />
  <xs:complexType name="CustomerWebSite">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="priority" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="quality" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="webSite" nillable="true" type="tns:WebSite" />
      <xs:element minOccurs="0" name="webSiteType" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerWebSite" nillable="true" type="tns:CustomerWebSite" />
  <xs:complexType name="WebSite">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="webSiteUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebSite" nillable="true" type="tns:WebSite" />
  <xs:complexType name="ArrayOfAttachmentDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentDocument" nillable="true" type="tns:AttachmentDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachmentDocument" nillable="true" type="tns:ArrayOfAttachmentDocument" />
  <xs:complexType name="AttachmentDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attachment" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="AttachmentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AttachmentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileExtension" type="xs:short" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:short" />
      <xs:element minOccurs="0" name="id" type="xs:unsignedLong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachmentDocument" nillable="true" type="tns:AttachmentDocument" />
</xs:schema>