ExternalBankingRESTService/Service References/MAuthorizationServiceReference/AcbaOnlineSecurityService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://as1001.acbaca.local:85/AcbaOnlineSecurityService.Services.MobileLogin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" />
  <xs:import schemaLocation="http://as1001.acbaca.local:85/AcbaOnlineSecurityService.Services.MobileLogin.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AuthorizeMobileUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="lInfo" nillable="true" type="q1:LoginInfo" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeMobileUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="AuthorizeMobileUserResult" nillable="true" type="q2:MobileUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserByUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="lInfo" nillable="true" type="q3:LoginInfo" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserByUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="AuthorizeUserByUserPasswordResult" nillable="true" type="q4:MobileUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserByToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="lInfo" nillable="true" type="q5:LoginInfo" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="lResult" nillable="true" type="q6:LoginResult" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserByTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="AuthorizeUserByTokenResult" nillable="true" type="q7:MobileUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="cpInfo" nillable="true" type="q8:ChangePasswordInfo" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="ChangeUserPasswordResult" nillable="true" type="q9:MobileUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="CheckAuthorizationResult" nillable="true" type="q10:MobileUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otp" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dfs" nillable="true" type="q11:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SingDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRegistrationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRegistrationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckRegistrationCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>