ExternalBankingService/Service References/AOService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AuthorizeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="lInfo" nillable="true" type="q1:LoginInfo" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="AuthorizeUserResult" nillable="true" type="q2:AcbaOnlineUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserByUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="lInfo" nillable="true" type="q3:LoginInfo" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserByUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="AuthorizeUserByUserPasswordResult" nillable="true" type="q4:AcbaOnlineUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserByToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="lInfo" nillable="true" type="q5:LoginInfo" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="lResult" nillable="true" type="q6:LoginResult" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserByTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="AuthorizeUserByTokenResult" nillable="true" type="q7:AcbaOnlineUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="lInfo" nillable="true" type="q8:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetUserPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="cpInfo" nillable="true" type="q9:ChangePasswordInfo" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="ChangeUserPasswordResult" nillable="true" type="q10:AcbaOnlineUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="CheckAuthorizationResult" nillable="true" type="q11:AcbaOnlineUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otp" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dfs" nillable="true" type="q12:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SingDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTypeOfUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>