ExternalBanking/Service References/TokenOperationsServiceReference/AcbaOnlineSecurityService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://as1001.acbaca.local:85/AcbaOnlineSecurityService.Services.TokenOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" />
  <xs:element name="ActivateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="tInfo" nillable="true" type="q1:TokenOperationsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="ActivateTokenResult" nillable="true" type="q2:TokenOperationsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="tInfo" nillable="true" type="q3:TokenOperationsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="BlockTokenResult" nillable="true" type="q4:TokenOperationsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="tInfo" nillable="true" type="q5:TokenOperationsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="BlockUserResult" nillable="true" type="q6:TokenOperationsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="tInfo" nillable="true" type="q7:TokenOperationsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="UnlockTokenResult" nillable="true" type="q8:TokenOperationsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateMobileToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="tInfo" nillable="true" type="q9:TokenOperationsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateMobileTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="ActivateMobileTokenResult" nillable="true" type="q10:TokenOperationsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPinCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPinCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPinCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserPasswordManualy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="tInfo" nillable="true" type="q11:TokenOperationsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserPasswordManualyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" minOccurs="0" name="ResetUserPasswordManualyResult" nillable="true" type="q12:TokenOperationsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>