ExternalBanking/Service References/ARUSDataService/ARUSOperationService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ARUSInfrastructure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ARUSInfrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webc021:9820/ARUSOperationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://webc021:9820/ARUSOperationService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TransactionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMDConvertAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AMDFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneAgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneAgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneAgentTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryAddressAppartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryAddressHouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryAddressName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryBirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryBirthPlaceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryCitizenship" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryCityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryCityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryCountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryDocmentTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryDocymentTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryEMailName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryFee" type="xs:double" />
      <xs:element minOccurs="0" name="BeneficiaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueCityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueCityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueCountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueIDNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueIDSeries" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueStateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssuer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryOccupationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryResidencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiarySexCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryStateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlAnswerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlQuestionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MTOAgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATSenderFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATSenderLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATSenderMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayoutAgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayoutAgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrincipalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PurposeRemittanceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemittanceFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendAgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendAgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendAgentTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendPayoutDivCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderAddressAppartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderAddressHouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderAddressName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderBirthCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderBirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderBirthPlaceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderCitizenship" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderCityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderCityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderCountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderDocumentTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderDocumentTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderEMailName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueCityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueCityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueCountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueIDNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueIDSeries" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssuer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderOccupationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderSexCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderStateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendingAgentCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendingFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="SettlementExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDetails" nillable="true" type="tns:TransactionDetails" />
  <xs:complexType name="TransactionDetailsRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionResult" nillable="true" type="tns:ActionResult" />
      <xs:element minOccurs="0" name="TransactionDetails" nillable="true" type="tns:TransactionDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDetailsRequestResponse" nillable="true" type="tns:TransactionDetailsRequestResponse" />
  <xs:complexType name="ActionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfActionError" />
      <xs:element minOccurs="0" name="ResultCode" type="tns:ResultCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionResult" nillable="true" type="tns:ActionResult" />
  <xs:complexType name="ArrayOfActionError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActionError" nillable="true" type="tns:ActionError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActionError" nillable="true" type="tns:ArrayOfActionError" />
  <xs:complexType name="ActionError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:short" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Params" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionError" nillable="true" type="tns:ActionError" />
  <xs:simpleType name="ResultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Failed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotAutorized">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ValidationError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SavedNotConfirmed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Warning">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NoneAutoConfirm">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SaveAndSendToConfirm">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DoneAndReturnedValues">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultCode" nillable="true" type="tns:ResultCode" />
  <xs:complexType name="PayOutInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeneficiaryAddressName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryBirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryBirthPlaceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryCityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryDocumentTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryEMailName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryFiscalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueCityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryIssueIDNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryOccupationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryResidencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiarySexCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayoutAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PayoutCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayOutInput" nillable="true" type="tns:PayOutInput" />
  <xs:complexType name="PayoutRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionResult" nillable="true" type="tns:ActionResult" />
      <xs:element minOccurs="0" name="PayOutOutput" nillable="true" type="tns:PayOutOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayoutRequestResponse" nillable="true" type="tns:PayoutRequestResponse" />
  <xs:complexType name="PayOutOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PayOutInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneAgentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneAgentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneAgentTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneficiaryCountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NATSenderFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NATSenderLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NATSenderMiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendAgentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendAgentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendAgentTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderCountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderEMailName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderMiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderMobileNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderPhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusCodeName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PayOutOutput" nillable="true" type="tns:PayOutOutput" />
  <xs:complexType name="ArrayOfInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoResponse" nillable="true" type="tns:InfoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoResponse" nillable="true" type="tns:ArrayOfInfoResponse" />
  <xs:complexType name="InfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoResponse" nillable="true" type="tns:InfoResponse" />
  <xs:complexType name="CancellationInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancellationReversalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendPayoutDivCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancellationInput" nillable="true" type="tns:CancellationInput" />
  <xs:complexType name="CancellationRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionResult" nillable="true" type="tns:ActionResult" />
      <xs:element minOccurs="0" name="CancellationOutput" nillable="true" type="tns:CancellationOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancellationRequestResponse" nillable="true" type="tns:CancellationRequestResponse" />
  <xs:complexType name="CancellationOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CancellationInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMDConvertAmount" type="xs:double" />
          <xs:element minOccurs="0" name="AMDFee" type="xs:double" />
          <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneAgentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneAgentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneAgentTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneficiaryCountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneficiaryFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneficiaryLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneficiaryMiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrincipalAmount" type="xs:double" />
          <xs:element minOccurs="0" name="PurposeRemittanceCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemittanceFee" type="xs:double" />
          <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendAgentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendAgentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendAgentTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderCountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderMiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendingFee" type="xs:double" />
          <xs:element minOccurs="0" name="SettlementExchangeRate" type="xs:double" />
          <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusCodeName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancellationOutput" nillable="true" type="tns:CancellationOutput" />
  <xs:complexType name="RemittanceFeeInformationInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeneficiaryCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MTOAgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayOutAgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayoutDeliveryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrincipalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PromotionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendingCountryCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemittanceFeeInformationInput" nillable="true" type="tns:RemittanceFeeInformationInput" />
  <xs:complexType name="RemittanceFeeRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionResult" nillable="true" type="tns:ActionResult" />
      <xs:element minOccurs="0" name="RemittanceFeeInformationOutput" nillable="true" type="tns:RemittanceFeeInformationOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemittanceFeeRequestResponse" nillable="true" type="tns:RemittanceFeeRequestResponse" />
  <xs:complexType name="RemittanceFeeInformationOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RemittanceFeeInformationInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMDFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="RemittanceFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendingFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="SendingFeeCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SettlementExchangeRate" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RemittanceFeeInformationOutput" nillable="true" type="tns:RemittanceFeeInformationOutput" />
  <xs:complexType name="SendMoneyInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryAgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryCityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryEMailName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlAnswerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlQuestionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MTOAgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATSenderFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATSenderLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATSenderMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayOutAgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayoutDeliveryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurposeRemittanceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="SendCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderAddressName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderBirthCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderBirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderBirthPlaceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderCityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderDocumentTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderEMailName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderFiscalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueCityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderIssueIDNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderOccupationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderResidencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderSexCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMoneyInput" nillable="true" type="tns:SendMoneyInput" />
  <xs:complexType name="SendMoneyRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionResult" nillable="true" type="tns:ActionResult" />
      <xs:element minOccurs="0" name="SendMoneyOutput" nillable="true" type="tns:SendMoneyOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMoneyRequestResponse" nillable="true" type="tns:SendMoneyRequestResponse" />
  <xs:complexType name="SendMoneyOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SendMoneyInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMDConvertAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="AMDFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="RemittanceFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendingFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="SettlementExchangeRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusCodeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="URN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendMoneyOutput" nillable="true" type="tns:SendMoneyOutput" />
  <xs:complexType name="AmendmentInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmendmentReasonCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AmendmentReasonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeforeBeneFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeforeBeneLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeforeBeneMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeforeBeneFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeforeBeneLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeforeBeneMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATBeneficiaryMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmendmentInput" nillable="true" type="tns:AmendmentInput" />
  <xs:complexType name="AmendmentRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionResult" nillable="true" type="tns:ActionResult" />
      <xs:element minOccurs="0" name="AmendmentOutput" nillable="true" type="tns:AmendmentOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmendmentRequestResponse" nillable="true" type="tns:AmendmentRequestResponse" />
  <xs:complexType name="AmendmentOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AmendmentInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMDConvertAmount" type="xs:double" />
          <xs:element minOccurs="0" name="AMDFee" type="xs:double" />
          <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneAgentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneAgentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneAgentTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneficiaryCountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BeneficiaryMobileNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NATSenderFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NATSenderLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NATSenderMiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemittanceFee" type="xs:double" />
          <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendAgentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendAgentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendAgentTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendAmount" type="xs:double" />
          <xs:element minOccurs="0" name="SendCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderCountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderMiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendingFee" type="xs:double" />
          <xs:element minOccurs="0" name="SettlementExchangeRate" type="xs:double" />
          <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusCodeName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AmendmentOutput" nillable="true" type="tns:AmendmentOutput" />
  <xs:complexType name="ResponseConfirmInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseConfirmInput" nillable="true" type="tns:ResponseConfirmInput" />
  <xs:complexType name="MTOListAndBestChoiceInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MTOListAndBestChoiceInput" nillable="true" type="tns:MTOListAndBestChoiceInput" />
  <xs:complexType name="ArrayOfMTOListAndBestChoiceOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MTOListAndBestChoiceOutput" nillable="true" type="tns:MTOListAndBestChoiceOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMTOListAndBestChoiceOutput" nillable="true" type="tns:ArrayOfMTOListAndBestChoiceOutput" />
  <xs:complexType name="MTOListAndBestChoiceOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeeAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="FeeAmount_National" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTOCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MTOName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MTOListAndBestChoiceOutput" nillable="true" type="tns:MTOListAndBestChoiceOutput" />
</xs:schema>