ExternalBankingService/Service References/InfSecServiceReference/InformationSecurityService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://authorizationservice-dev/InformationSecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" />
  <xs:import schemaLocation="https://authorizationservice-dev/InformationSecurityService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://authorizationservice-dev/InformationSecurityService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary.CustomerAuthorization" />
  <xs:element name="AutorizeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="login" nillable="true" type="q1:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="AutorizeUserResult" nillable="true" type="q2:AuthorizedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserBySession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserBySessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="AuthorizeUserBySessionResult" nillable="true" type="q3:AuthorizedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizeUserTablet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="login" nillable="true" type="q4:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizeUserTabletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="AutorizeUserTabletResult" nillable="true" type="q5:AuthorizedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="pInfo" nillable="true" type="q6:PasswordChangeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="ChangePasswordResult" nillable="true" type="q7:AuthorizedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckProgramVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="login" nillable="true" type="q8:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckProgramVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckProgramVersionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionFingerprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="transactionInfo" nillable="true" type="q9:TransactionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionFingerprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTransactionFingerprintResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTransactionFingerprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="transactionInfo" nillable="true" type="q10:TransactionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTransactionFingerprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckTransactionFingerprintResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupID" type="xs:int" />
        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetDocumentsPermissionsResult" nillable="true" type="q11:ArrayOfDocumetsPermissions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionForPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="cpInfo" nillable="true" type="q12:ClientPermissionsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionForPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetPermissionForPageResult" nillable="true" type="q13:ArrayOfClientPermissions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVarPermissionForPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="cpInfo" nillable="true" type="q14:ClientPermissionsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVarPermissionForPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetVarPermissionForPageResult" nillable="true" type="q15:ClientPermissions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVarPermissionsForPageBySession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVarPermissionsForPageBySessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetVarPermissionsForPageBySessionResult" nillable="true" type="q16:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionsForForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="cpInfo" nillable="true" type="q17:ApplicationClientPermissionsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionsForFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetPermissionsForFormResult" nillable="true" type="q18:ArrayOfApplicationClientPermissions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridAccessListForForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="cpInfo" nillable="true" type="q19:ApplicationClientPermissionsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridAccessListForFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetGridAccessListForFormResult" nillable="true" type="q20:ArrayOfApplicationClientPermissions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVarPermissionForForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="cpInfo" nillable="true" type="q21:ApplicationClientPermissionsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVarPermissionForFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetVarPermissionForFormResult" nillable="true" type="q22:ApplicationClientPermissions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermitedBranches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermitedBranchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetPermitedBranchesResult" nillable="true" type="q23:ArrayOfPermitedBranches" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessForCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSessionToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerSessionToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessForCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetUserAccessForCustomerResult" nillable="true" type="q24:UserAccessForCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessForCustomerByCustomerNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSessionToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerNumber" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessForCustomerByCustomerNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetUserAccessForCustomerByCustomerNumberResult" nillable="true" type="q25:UserAccessForCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessForCustomerBySession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uacSessionToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessForCustomerBySessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetUserAccessForCustomerBySessionResult" nillable="true" type="q26:UserAccessForCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckProgramAccessBySession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="progName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckProgramAccessBySessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckProgramAccessBySessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizeWindowsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="pInfo" nillable="true" type="q27:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizeWindowsUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="AutorizeWindowsUserResult" nillable="true" type="q28:AuthorizedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeWindowsUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="pInfo" nillable="true" type="q29:PasswordChangeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeWindowsUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="ChangeWindowsUserPasswordResult" nillable="true" type="q30:AuthorizedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersFromCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersFromCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetAllUsersFromCacheResult" nillable="true" type="q31:ArrayOfAuthorizedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserFromCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserFromCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneUsersFromCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneUsersFromCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetOneUsersFromCacheResult" nillable="true" type="q32:AuthorizedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgListByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgListByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProgListByGroupResult" nillable="true" type="q33:ArrayOfArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesTempData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesTempDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetEmployeesTempDataResult" nillable="true" type="q34:GetEmployeesTempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBServerNamesForConnectionString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseID" type="xs:int" />
        <xs:element minOccurs="0" name="fillialCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBServerNamesForConnectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDBServerNamesForConnectionStringResult" nillable="true" type="q35:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionsGroupsLists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionsGroupsListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetPermissionsGroupsListsResult" nillable="true" type="q36:ArrayOfPermissionsGroupsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="obj" nillable="true" type="q37:AddEmployeesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeesRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployeesRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="GetRequestDataResult" nillable="true" type="q38:ArrayOfRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOrderStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCashersOrderInstructions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="obj" nillable="true" type="q39:CashersOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCashersOrderInstructionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsByDepForOrderInstructions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dep_id" type="xs:int" />
        <xs:element minOccurs="0" name="sec_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsByDepForOrderInstructionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPositionsByDepForOrderInstructionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserNameAndLogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="obj" nillable="true" type="q40:UserNameAndLogIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserNameAndLogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserNameAndLogInResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupIdForEmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="obj" nillable="true" type="q41:GroupIdForEmp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupIdForEmpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGroupIdForEmpResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewConfigDBConnectionSString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewConfigDBConnectionSStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewConfigDBConnectionSStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserBySAPTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="softName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeUserBySAPTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary" minOccurs="0" name="AuthorizeUserBySAPTicketResult" nillable="true" type="q42:AuthorizedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNumber" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary.CustomerAuthorization" minOccurs="0" name="AuthorizeCustomerResult" nillable="true" type="q43:CustomertData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/InformationSecurityLibrary.CustomerAuthorization" minOccurs="0" name="CheckCustomerAuthorizationResult" nillable="true" type="q44:CustomertData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssertionTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSessionToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssertionTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAssertionTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLogonTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSessionToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLogonTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLogonTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>