ExternalBanking/Service References/EmailMessagingService/EmailMessagingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcf01-test:89/EmailMessagingService/EmailMessagingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessagingLibrary.Services.EmailMessagingService.Model" />
  <xs:import schemaLocation="http://wcf01-test:89/EmailMessagingService/EmailMessagingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MessagingService.Common" />
  <xs:element name="SendEmailNotificationByTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MessagingLibrary.Services.EmailMessagingService.Model" minOccurs="0" name="emailNotification" nillable="true" type="q1:EmailNotification" />
        <xs:element minOccurs="0" name="senderProfileId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailNotificationByTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MessagingService.Common" minOccurs="0" name="SendEmailNotificationByTemplateResult" nillable="true" type="q2:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MessagingLibrary.Services.EmailMessagingService.Model" minOccurs="0" name="email" nillable="true" type="q3:Email" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MessagingService.Common" minOccurs="0" name="SendEmailNotificationResult" nillable="true" type="q4:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>