ExternalBanking/Service References/EmailMessagingService/EmailMessagingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmailMessagingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="MessagingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcf01-test:89/EmailMessagingService/EmailMessagingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcf01-test:89/EmailMessagingService/EmailMessagingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcf01-test:89/EmailMessagingService/EmailMessagingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessagingLibrary.Services.EmailMessagingService.Model" />
      <xsd:import schemaLocation="http://wcf01-test:89/EmailMessagingService/EmailMessagingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MessagingService.Common" />
      <xsd:import schemaLocation="http://wcf01-test:89/EmailMessagingService/EmailMessagingService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmailMessagingService_SendEmailNotificationByTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailNotificationByTemplate" />
  </wsdl:message>
  <wsdl:message name="IEmailMessagingService_SendEmailNotificationByTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailNotificationByTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailMessagingService_SendEmailNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailNotification" />
  </wsdl:message>
  <wsdl:message name="IEmailMessagingService_SendEmailNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmailMessagingService">
    <wsdl:operation name="SendEmailNotificationByTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailMessagingService/SendEmailNotificationByTemplate" message="tns:IEmailMessagingService_SendEmailNotificationByTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailMessagingService/SendEmailNotificationByTemplateResponse" message="tns:IEmailMessagingService_SendEmailNotificationByTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailMessagingService/SendEmailNotification" message="tns:IEmailMessagingService_SendEmailNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailMessagingService/SendEmailNotificationResponse" message="tns:IEmailMessagingService_SendEmailNotification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessagingService" type="tns:IEmailMessagingService">
    <wsp:PolicyReference URI="#MessagingService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendEmailNotificationByTemplate">
      <soap12:operation soapAction="http://tempuri.org/IEmailMessagingService/SendEmailNotificationByTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailNotification">
      <soap12:operation soapAction="http://tempuri.org/IEmailMessagingService/SendEmailNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailMessagingService">
    <wsdl:port name="MessagingService" binding="tns:MessagingService">
      <soap12:address location="net.tcp://wcf1001-t.acbaca.local:8089/EmailMessagingService/EmailMessagingService.svc/MessagingService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://wcf1001-t.acbaca.local:8089/EmailMessagingService/EmailMessagingService.svc/MessagingService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MessagingServTest@acbaca.local</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>